
<h1>Your Move against <%=h @other_player_name%></h1>
<p>You are player <%= C4::Board::NAMES[@current_player]%></p>


<table border="1" style="font-size:150%; width:100%; text-align: center">
	<thead>
		<%(0..6).each do |i|%>
			<th>
				<%=link_to ("Move",c4_game_move_path(@c4_game,:only_path=>false,:column=>i, :sig=>get_move_hash(@c4_game, i)),:style=>'display:block;text-decoration:none')%>
			</th>
		<%end%>
	</thead>
	<%5.downto(0).each do |row_num|%>
		<tr style="">
			<% (0..6).each do |col_num|%>
				<td class='c4-square'>
					<%=h C4::Board::NAMES[@board.columns[col_num][row_num]]%>
					<% if @board.columns[col_num][row_num] == C4::Board::EMPTY%> &nbsp; <%end%>
				</td>
			<% end %>
		</tr>
	<% end %>
</table>





