/* as in look and feel
 * Won't find any position logic here
 */

.alert {
	background: #ffebe8;
	border: 1px solid #dd3c10
}
.warning {
	background-color: #FFF9D7;
	border: 1px solid #E2C822
}
.amber {
	background-color: #FFBF00;
	border: 1px solid #FF7E00
}
.normal {
	background-color: white;
	border: 1px solid white
}
.good {
	background-color: #bbffb4;
	border: 1px solid #93ca8e
}
p.alert, span.alert, p.warning, span.warning, p.amber, span.amber, p.normal, span.normal, p.good, span.good {
	border-radius: 5px;
}


/* Default styling of some elements */

body{
	color: #333;
}

a:hover{
	background-color: #333;
	color: #fff;
}
a {
	color: #333;
}

.big {
	font-size: 150%;
}

.bigger {
	font-size: 200%;
}

.small {
	font-size: 75%;
}

.smaller {
	font-size: 50%;
}


.button-clickme {
	background-color: #77D42A;
	border-radius: 13px;
	border: 5px solid #268A16;
	color: #306108;
	font-size: 21px;
	font-weight: bold;
	padding: 6px 20px;
	display: inline-block;
	cursor: pointer;
}
.button-clickme:hover {
	background-color: #78D52B;
}
