.tab .tab-item:not(:target){ 
	display:none;
}
.tab .tab-item:target{
	display:block;
}

.tab-nav li{
	display:inline-block;
	border: 1px solid black;
	border-bottom:none;
	padding:5px;
	margin:2px;
	margin-bottom: 0px;
}

.tab-nav {
	padding-left:10px;
	border-bottom: 1px solid black;
}


