
.board-table {
	
}
.board-table td.tte-square {
	border-bottom: 3px solid black;
	border-right: 3px solid black;
	padding: 10px;
	font-size: 200%;
}

.board-table  tr:last-of-type > td.tte-square{ 
	border-bottom: none;
}



.board-table td.tte-square:last-of-type{ 
	border-right: none;
}
