
<table class="c4-board-table" border=1>
	<%5.downto(0).each do |row_num|%>
		<tr>
			<% (0..6).each do |col_num|%>
				<td class='c4-square'>
					<%=h C4::Board::NAMES[@board.columns[col_num][row_num]]%>
					&nbsp; <!-- force a space -->
				</td>
			<% end %>
		</tr>
	<% end %>
</table>
