<h1>Thanks for moving</h1>

<h3 class="<%=h @message_class%>"><%=h @message%></h3>

<p>Your opponet will process their turn shortly</p>

<p>
	<%= link_to 'Restart the new Game', new_tte_game_path(:tte_game=>{:player_b_email=> @current_player_email, :player_a_email=>@other_player_email}) %>
	<%= link_to 'Start a new Game', new_tte_game_path(:tte_game=>{:player_b_email=> @current_player_email}) %>
</p>




