<h1>Thanks for moving</h1>

<h3 class="<%=h @message_class%>"><%=h @message%></h3>

<p>Your opponet will process their turn shortly</p>

<%=render 'board', :locals=>{:board=>@board}%>

<p><%= link_to 'New Game', @new_game_link %></p>



