<h1>Listing urlshorts</h1>

<table>
  <tr>
    <th>Target url</th>
	<th>Short</th>
    <th></th>
  </tr>

<% @urlshorts.each do |urlshort| %>
  <tr>
    <td><%= urlshort.target_url %></td>
	<td><span style="margin:5px;"><%= link_to(urlshort.get_short_url, urlshort.get_short_url)%></span></td>
    <td><%= link_to 'Show', urlshort %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Urlshort', new_urlshort_path %>
