<p id="notice"><%= notice %></p>

<p>
  <b>Target url:</b>
  <%= @urlshort.target_url %>
</p>

<p>
  <b>Short Link:</b>
  <%= link_to(@urlshort.get_short_url, @urlshort.get_short_url)%>
</p>


<%= link_to 'Back', urlshorts_path %>
